* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none; }

.text-center {
  text-align: center; }

.landing__heading-primary {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 4rem; }

.section-hero-box--info {
  font-size: 1.4rem; }

.blue-text {
  color: #30baf4; }

.landing-text-box {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #fff; }

.heading_secondary--landing {
  font-size: 2.6rem;
  color: #fff;
  letter-spacing: 0.1rem; }

.section-listen-text {
  max-width: 35rem; }

.heading-tertiary {
  font-size: 1.6rem; }

.small-text {
  font-size: 1.2rem;
  color: rgba(238, 238, 238, 0.8); }

.section-music-card-title {
  color: rgba(238, 238, 238, 0.4);
  font-size: 1.6rem;
  margin: 12rem 0 3rem 0; }

.small-text-bottom1 {
  opacity: 0;
  margin-top: 0.6rem;
  font-size: 1.2rem; }

.small-text-bottom2 {
  color: rgba(238, 238, 238, 0.4);
  margin-top: 0.6rem;
  font-size: 1.2rem; }

.title_h3 {
  font-size: 2rem; }

.heading__4 {
  font-size: 1.2rem; }

.like__text {
  font-size: 1.2rem; }

.btn {
  background-color: none;
  font-size: 1.6rem;
  color: #fff;
  padding: 0.6rem 1.6rem;
  text-align: center;
  border: 0.2rem solid #fff;
  border-radius: 2.4rem; }
  .btn--white:hover {
    background-color: #fff;
    color: #555;
    cursor: pointer; }
  .btn--white:active, .btn--white:link {
    border: 0.2rem solid #7255ee;
    color: #7255ee; }
  .btn--linear:hover {
    background-image: linear-gradient(to right, #30baf4, #7255ee);
    border: 0.2rem solid rgba(48, 186, 244, 0.4); }
  .btn--linear:active {
    background-image: linear-gradient(to right, rgba(48, 186, 244, 0.4), rgba(114, 85, 238, 0.4)); }

.music-card {
  display: flex;
  justify-content: center;
  gap: 6rem;
  color: #fff;
  margin: 0 auto; }
  .music-card-box {
    border: 0.3rem solid #fff;
    border-radius: 5px;
    padding: 2rem;
    width: 20%;
    box-sizing: border-box; }
  .music-card-price {
    font-size: 1.8rem; }
  .music-card--list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem; }
    .music-card--list-row {
      display: flex;
      gap: 2rem;
      font-size: 1.4rem; }
  .music-card-button {
    width: 38%;
    margin: 1rem auto;
    text-align: center;
    display: flex;
    gap: 14rem; }

.musicbox-premium {
  border: 0.3rem solid #30baf4; }

.boxes {
  gap: 1.5rem;
  width: 100%; }

.artist__img,
.gallery__img {
  width: 100%; }

.gallery__img {
  border-radius: 1rem; }

.artist__img {
  border-radius: 50%;
  border: none; }

.bottom__info {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem; }

.like__text {
  display: flex;
  gap: 0.5rem;
  color: #929297; }
  .like__text i {
    font-size: 1.2rem; }

.footer-section {
  background-color: #111313;
  padding: 8rem 0; }

.footer--flexbox {
  display: grid;
  grid-template-columns: 3fr 2fr; }

.footer__menu {
  display: flex;
  justify-content: space-between; }
  .footer__menu--box {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 1.4rem; }
  .footer__menu--link {
    text-decoration: none;
    color: #fff; }
  .footer__menu--title {
    color: #555;
    text-transform: uppercase;
    font-size: 1.4rem; }

.footer__social {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer__social--box {
    display: flex;
    justify-content: flex-end;
    gap: 1rem; }
  .footer__social--lang select {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold; }
    .footer__social--lang select option {
      background: none;
      border: none;
      color: #000; }

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0; }
  .footer__bottom--menu {
    display: flex;
    gap: 1.5rem; }

[class^="footer__bottom--"] a {
  text-decoration: none;
  color: #555;
  font-size: 1.2rem; }

.grid {
  display: grid; }

.grid-2-cols {
  grid-template-columns: 1fr 1fr; }

.grid-3-cols {
  grid-template-columns: 1fr 1fr 1fr; }

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr); }

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr); }

.grid-6-cols {
  grid-template-columns: repeat(6, 1fr); }

.header__landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }
  .header__landing--menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.6rem; }
    .header__landing--menu a {
      color: #fff; }

.header {
  background-color: rgba(22, 26, 26, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem;
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(4px);
  z-index: 150; }
  .header__menu {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .header__menu a {
      text-decoration: none;
      color: #929297;
      font-size: 2rem; }
  .header__input {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .header__input--search {
      padding: 0.8rem 1.2rem;
      width: 14rem;
      outline: none;
      border: none;
      border-radius: 2.5rem;
      background-color: #505356; }
    .header__input input::placeholder {
      font-size: 1.6rem;
      color: #fff; }
    .header__input select {
      background: none;
      border: none;
      outline: none;
      color: #fff;
      font-size: 1.6rem; }
  .header--icon {
    margin-right: -1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: bold; }

.section-hero-buttons {
  display: flex;
  gap: 2rem;
  align-items: center; }

.section-hero {
  width: 98.9vw;
  height: 100vh;
  background-image: url(../../img/landing-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff; }
  .section-hero--box {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.section-flow {
  overflow: hidden;
  padding: 7rem 0;
  background-color: #161a1a;
  color: #fff; }
  .section-flow--box {
    display: flex;
    gap: 15rem;
    align-items: center; }
  .section-flow--img {
    width: 50%;
    box-sizing: border-box; }
    .section-flow--img img {
      width: 100%; }

.flow-info {
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 40rem; }
  .flow-info--title {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem; }
  .flow-info--heading {
    font-size: 4.2rem; }

.section-listen {
  background-image: url(../../img/landing-listening.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center; }
  .section-listen-info {
    margin-left: -60rem;
    display: flex;
    flex-direction: column;
    gap: 3rem; }

.section-music {
  padding: 7rem 0;
  background-color: #161a1a; }
  .section-music-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem; }
    .section-music-hero--img {
      width: 45%;
      box-sizing: border-box; }
      .section-music-hero--img img {
        width: 100%; }
    .section-music-hero--info {
      max-width: 38rem;
      display: flex;
      flex-direction: column;
      gap: 3rem; }
  .section-music--icons {
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    max-width: 70rem;
    margin: 4rem auto; }
    .section-music--icons-box {
      text-align: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center; }
      .section-music--icons-box img {
        padding: 1rem;
        border-radius: 50%;
        background-color: #363535;
        width: 9rem;
        height: 9rem;
        margin-bottom: 1.5rem; }

.main__home {
  background-color: #161a1a;
  color: #fff; }

.section_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0; }

.small_circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative; }
  .small_circle::after, .small_circle::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute; }
  .small_circle::after {
    right: 1rem; }
  .small_circle::before {
    right: 2rem; }

.section__allow {
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: center; }
  .section__allow a {
    text-decoration: none;
    color: #fff; }
    .section__allow a:first-child {
      color: #555; }

.section__flow {
  padding: 10rem 0 10rem 0; }

.flow {
  width: 100%;
  gap: 3rem;
  height: 25rem; }
  .flow__box {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .flow__box--img {
      position: relative; }
      .flow__box--img--2 {
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%); }
      .flow__box--img--1 {
        border-radius: 1rem;
        max-width: 15rem; }
    .flow__box--info {
      text-align: center;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative; }
    .flow__box--title {
      font-size: 2.6rem; }
      .flow__box--title--1 {
        color: #9da2af; }
      .flow__box--title--2 {
        color: #7092f2; }
      .flow__box--title--3 {
        color: #6aedb2; }
    .flow__box--text-2 {
      position: absolute;
      bottom: -130%; }
  .flow__box--1 {
    background-image: linear-gradient(110deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 100%), url(../../img/home/flow-bg-1.png); }
  .flow__box--2 {
    background-image: linear-gradient(110deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 100%), url(../../img/home/flow-bg-2.jpg); }
  .flow__box--3 {
    background-image: linear-gradient(110deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 100%), url(../../img/home/flow-bg-3.jpg); }

.section-boxes {
  padding: 4rem 0; }
