$color-white: #fff;
$color-black: #000;
$color-text: #555;

$color-shadow: rgba(#000, 0.4);
$color-background: #161a1a;
$color-back-2: #363535;

$color-primary: #30baf4;
$color-primary-dark: #7255ee;

$color-footer: #111313;
