.boxes {
  gap: 1.5rem;
  width: 100%;
  padding: 3rem 0;
}
.artist__img,
.gallery__img {
  width: 100%;
}
.gallery__img {
  border-radius: 1rem;
}
.artist__img {
  border-radius: 50%;
  border: none;
}
.bottom__info {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}
.like__text {
  display: flex;
  gap: 0.5rem;
  color: $color-text-2;
  i {
    font-size: 1.2rem;
  }
}
.music__box {
  img {
    width: 100%;
    border-radius: 1rem;
  }
}
.boxes__big--space {
  padding: 3rem 0 5rem 0;
}
