.btn {
  background-color: none;
  font-size: 1.6rem;
  color: $color-white;
  padding: 0.6rem 1.6rem;
  text-align: center;
  border: 0.2rem solid $color-white;
  border-radius: 2.4rem;
  &--white {
    &:hover {
      background-color: $color-white;
      color: $color-text;
      cursor: pointer;
    }
    &:active,
    &:link {
      border: 0.2rem solid $color-primary-dark;
      color: $color-primary-dark;
    }
  }
  &--linear {
    &:hover {
      background-image: linear-gradient(
        to right,
        $color-primary,
        $color-primary-dark
      );
      border: 0.2rem solid rgba($color-primary, 0.4);
    }
    &:active {
      background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.4),
        rgba($color-primary-dark, 0.4)
      );
    }
  }
}
.show__more--btn {
  &:hover {
    background-color: rgba($color-white, 0.8);
    color: $color-primary;
  }
}
.play__btn {
  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-dark
  );
  padding: 1rem 5rem;
  border: none;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  &:hover {
    background-image: linear-gradient(
      to right,
      $color-primary-dark,
      $color-primary
    );
  }
}
.section__title input {
  background: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-bottom: 0.2rem solid $color-white;
  &::placeholder {
    color: $color-white;
    font-size: 1.6rem;
  }
}
