.player {
  width: 90%;
  margin: 0 auto;
  display: flex;
  background-color: #3a3b3e;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  &__info {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    img {
      border-radius: 0.8rem;
    }
    i {
      font-weight: bold;
      font-size: 1.6rem;
      &:last-child {
        color: $color-primary;
      }
    }
  }
  &__music {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--set {
      font-size: 2rem;
      display: flex;
      gap: 3rem;
      align-items: center;
      justify-content: center;
      i:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }
    &--play {
      font-size: 1.4rem;
      color: $color-text-2;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    &--player {
      width: 40rem;
      height: 0.5rem;
      border-radius: 0.3rem;
      background-image: linear-gradient(
        to right,
        $color-primary 0%,
        $color-primary-dark 50%,
        $color-text 50% 100%
      );
    }
  }
  &__setting {
    display: flex;
    gap: 2rem;
    align-items: center;
    i {
      font-size: 1.6rem;
      &:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }
    &--valume {
      margin-left: -1rem;
      width: 8rem;
      height: 0.3rem;
      border-radius: 1rem;
      background-image: linear-gradient(
        to right,
        $color-white 0%,
        $color-white 60%,
        $color-text 60% 100%
      );
    }
  }
}
