* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @include tablet {
    font-size: 56.25%;
  }
  @include tab-port {
    font-size: 56.25%;
  }
}
body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
