.landing__heading-primary {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 4rem;
}
.section-hero-box--info {
  font-size: 1.4rem;
}
.price-text {
  color: $color-primary;
}
.landing-text-box {
  font-size: 1.6rem;
  line-height: 1.7;
}
