.section-hero {
  width: 100vw;
  height: 100vh;
  background-image: url(../../img/landing-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  &--box {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
