.section-hero {
  width: 98.9vw;
  height: 100vh;
  background-image: url(../../img/landing-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  color: #fff;
  &--box {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.container__small {
  max-width: 80rem;
  margin: 0 auto;
}
.section-flow {
  overflow: hidden;
  padding: 7rem 0;
  background-color: $color-background;
  color: $color-white;
  &--box {
    display: flex;
    gap: 15rem;
    align-items: center;
  }
  &--img {
    width: 50%;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }
}
.flow-info {
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 40rem;
  &--title {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  &--heading {
    font-size: 4.2rem;
  }
}
.section-listen {
  background-image: url(../../img/landing-listening.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  &-info {
    margin-left: -60rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
.section-music {
  padding: 7rem 0;
  background-color: $color-background;
  &-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
    &--img {
      width: 45%;
      box-sizing: border-box;
      img {
        width: 100%;
      }
    }
    &--info {
      max-width: 38rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }
  &--icons {
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    max-width: 70rem;
    margin: 4rem auto;
    &-box {
      text-align: center;
      color: $color-white;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      img {
        padding: 1rem;
        border-radius: 50%;
        background-color: $color-back-2;
        width: 9rem;
        height: 9rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
